.cabana{
    .icono-descarga-flecha{
        float: right;
        margin-top: -30px;
    }
    .panel-group{
        margin-top: 15px;
        .panel-default {
            border: none;
            box-shadow: none;
            
        }
        [data-toggle="collapse"] {
            .colapsador {
                padding: 20px 10px 20px 40px;
                position: relative;
                .h3 {margin: 0;}
                .colapsador-button-next {
                    background: none;
                    width: 20px;
                    height: 20px;
                    border-top: solid 2px white;
                    border-left: solid 2px white;
                    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.6);
                    right: 30px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform-origin: center center;
                    transform-origin: center center;
                    -webkit-transform: translateY(-50%)  rotate(135deg);
                    transform: translateY(-50%)  rotate(135deg);
                    transition: #{$transition};
                }
            }
            &.collapsed {
                .colapsador {
                    .colapsador-button-next {
                        -webkit-transform: translateY(-50%) rotate(225deg);
                        transform: translateY(-50%)  rotate(225deg);
                    }
                }
            }
        }
    }
}

