.cabana{
    .descarga-ficha {
        .bg-verde {
            padding: 0;
            a {
                display: block;
                padding: 10px 70px 10px 20px;
            }
            .icono-descarga-flecha{
                right: 20px;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}

