body {
    &.spacer {
        padding-top: 90px;
    }
    .container {
        width: auto!important;
        max-width: $container-large-desktop;
    }
    a, .btn {
        transition: #{$transition};
    }
    
    section.container {
        .row{margin-bottom: 20px;}
        a:hover, a:focus {
          text-decoration: none!important;
        }
    }
    .list-bullet-inside {
        list-style-position: inside;
        padding-left: 0;
    }
    
    p, .list-unstyled {
        & + .list-bullet-inside {
            margin-top: -10.5px;
        }
    }
    
    .list-unstyled + p {
        margin-top: -10.5px;
    }
    
    .bg-verde{
        background: $green;
        font-family: $font-family-sans-serif;
        padding: 10px 10px 10px 20px;
        position: relative;
        &,
        a,
        a:hover {
            color: white;
        }
        p{
            margin: 0px;
        }
    }
    
	.panel-group{
        margin-top: 15px;
        .panel-default {
            border: none;
            box-shadow: none;
        }
        [data-toggle="collapse"] {
            .colapsador {
                padding: 20px 80px 20px 40px;
                position: relative;
                margin-bottom: 15px;
                .h3 {margin: 0;}
                .colapsador-button-next {
                    background: none;
                    width: 20px;
                    height: 20px;
                    border-top: solid 2px white;
                    border-left: solid 2px white;
                    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.6);
                    right: 30px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform-origin: center center;
                    transform-origin: center center;
                    -webkit-transform: translateY(-50%)  rotate(135deg);
                    transform: translateY(-50%)  rotate(135deg);
                    transition: #{$transition};
                }
            }
            &.collapsed {
                .colapsador {
                    .colapsador-button-next {
                        -webkit-transform: translateY(-50%) rotate(225deg);
                        transform: translateY(-50%)  rotate(225deg);
                    }
                }
            }
        }
    }
	
    @media only screen and (min-width: $screen-md) {
        .padding-50-left {
            padding-left: 50px;
        }
        .padding-50-right {
            padding-right: 50px;
        }
    }
}