$logo-height: 42px;
$logo-padding: (($navbar-height - $logo-height) / 2);

.navbar{
    font:14px $font-family-sans-serif;
    
    .navbar-brand {
        padding-top: $logo-padding;
        padding-bottom: $logo-padding;
		margin: 0;

        img{
            max-height: $logo-height;
        }
    }
	.nav {
		.active a {
			text-decoration: underline;
		}
	}
}
